/**
 * NOTE: This class is auto generated by the akka-scala (beta) swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * For any issue or feedback, please open a ticket via https://github.com/swagger-api/swagger-codegen/issues/new
 */
package io.swagger.client.api

import io.swagger.client.model.AccessToken
import io.swagger.client.model.AccessTokenCheckRequest
import io.swagger.client.model.Error
import io.swagger.client.model.RsResponse
import io.swagger.client.core._
import io.swagger.client.core.CollectionFormats._
import io.swagger.client.core.ApiKeyLocations._

object AccessTokenApi {

  /**
   * 
   * 
   * Expected answers:
   *   code 200 : RsResponse (OK)
   * 
   * @param request request
   */
  def checkUsingPOST(request: AccessTokenCheckRequest): ApiRequest[RsResponse] =
    ApiRequest[RsResponse](ApiMethods.POST, "https://auth.sinocloudlab.com", "/api/check", "*/*")
      .withBody(request)
      .withSuccessResponse[RsResponse](200)
        /**
   * 
   * 
   * Expected answers:
   *   code 200 : AccessToken (OK)
   */
  def fetchTokenByAuthCodeModeUsingPOST(): ApiRequest[AccessToken] =
    ApiRequest[AccessToken](ApiMethods.POST, "https://auth.sinocloudlab.com", "/api/accessToken", "*/*")
      .withSuccessResponse[AccessToken](200)
        /**
   * 
   * 
   * Expected answers:
   *   code 200 : AccessToken (OK)
   *   code 500 : Error (Internal Server Error)
   */
  def fetchTokenByClientModeUsingGET(): ApiRequest[AccessToken] =
    ApiRequest[AccessToken](ApiMethods.GET, "https://auth.sinocloudlab.com", "/api/token", "*/*")
      .withSuccessResponse[AccessToken](200)
      .withErrorResponse[Error](500)
      

}

